.container {
    min-height: 473px;
    background: #fafafb;
    margin-bottom: 60px;
}

.heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.heading {
    font-family: sans-serif;
    font-size: 20px;
    margin: 30px 0px 20px 6px;
    color: #302b42;
}

.see-btn {
    font-size: 17px;
    font-family: sans-serif;
    margin: 10px 6px 0 0px;
    color: #00a889;
    text-decoration: none;
}

/* Product list */

.Products-wrapper {
    margin: 0 6px 0px 6px;
    min-height: 473px;
    justify-content: space-between;
}

.card {
    width: 46.5%;
    background: #ffffff;
    height: 235px;
    margin-bottom: 25px;
    padding: 0;
    border: 0 !important;
    box-shadow: 5px 5px 5px rgb(68 68 68 / 40%);
}

/* .card span {
    position: absolute;
    top: 8px;
    right: 10px;
} */

.content h4 {
    font-size: 15px;
    color: #cbcacf;
    padding: 10px 0px 0 10px;
    margin: 0;
}

.content p {
    font-size: 13px;
    color: #181429;
    padding: 5px 13px 0 10px;
    margin-bottom: 15px;
    height: 45px;
    overflow: hidden;
}

.price {
    display: flex;
    height: 25px;
    justify-content: space-between;
    align-items: center;
}

.price span {
    display: flex;
    height: 25px;
    padding: 0 0 0 10px;
}

.price span img {
    width: 15px;
    height: 15px;
}

.price p {
    font-size: 12px;
    color: #cbcacf;
    margin: 0;
    padding: 0px 0px 0 5px;
}

.price h4 {
    color: #45b99e;
    font-size: 19px;
    margin: 0;
    font-weight: 600;
    padding: 0 10px 0 0;
    font-family: cursive;
}