<div class="container">
  <div class="heading-wrapper">
    <h2 class="heading">Best Sale Product</h2>
    <a *ngIf="!showMore" class="see-btn" (click)="clickOn('See more')"
      >See more</a
    >
    <a *ngIf="showMore" class="see-btn" (click)="clickOn('See less')"
      >See less</a
    >
  </div>
  <div class="row Products-wrapper">
    <div
      *ngFor="let number of getProductList()"
      class="card"
      (click)="navigateToDetailPage()"
    >
      <img src="assets/shirt.jpg" alt="" width="100%" height="110" />
      <!-- <i class='fa fa-heart-o'></i> -->
      <span
        class="bi bi-heart"
        style="position: absolute; top: 8px; right: 10px"
      ></span>
      <div class="content">
        <h4>Shirt</h4>
        <p><b>Essentials Men's Short-Sleeve Crewneck T-Shirt</b></p>
        <div class="price">
          <span>
            <img src="assets/star.png" />
            <p>4.9 | 2356</p>
          </span>
          <h4>$12.00</h4>
        </div>
      </div>
    </div>
  </div>
</div>
