.container {
  background: #f9fafb;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.icon-wrapper2 {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin-right: 10px;
}
.header span {
  font-size: 21px;
  color: #433c4b;
}
.poster {
  background: #f8f6f8;
  height: 360px;
  border-radius: 6px;
  margin: 20px 5px;
}
.store-name {
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-size: 16px;
  color: #b0adb3;
}
.store-name h4 {
  color: #cbcacf;
  font-size: 15px;
}
.title {
  font-size: 22px;
  color: #181429;
}
/* Rating Section */
.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  color: #938f96;
}
.rating .star {
  display: flex;
  gap: 8px;
  align-items: center;
}
.rating span img {
  width: 15px;
  height: 15px;
}
.bi-dot::before {
  content: "\f309";
  line-height: 2.5 !important;
}
/* Description Section CSS*/
.desc-section h4 {
  color: #2d2837;
  font-size: 18px;
}
.desc-section ul {
  color: #8e8b90;
  font-size: 17px;
}
.desc-section ul li {
  margin-bottom: 3px;
}
.desc-section p {
  color: #8e8b90;
  font-size: 17px;
}
.desc-section a {
  display: flex;
  gap: 7px;
}
.desc-section a p {
  color: #18bb9a;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
}
.desc-section a span {
  color: #8e8b90;
}

/* Shopping Info Section CSS */

.seller-info h4 {
  color: #2d2837;
  font-size: 18px;
  margin-bottom: 1rem;
}

.shopping-info span {
  display: flex;
  gap: 10px;
}

.shopping-info .heading {
  color: #8e8b95;
}

.shopping-info .pragh {
  color: #2d2837;
  font-weight: 500;
}

/* Seller Info Section CSS */

.shopping-info h4 {
  color: #2d2837;
  font-size: 18px;
  margin-bottom: 1rem;
}

.seller-wrapper {
  display: flex;
  gap: 20px;
}

.seller-info img {
  width: 100px;
  height: 100px;
}

.seller-info span h4 {
  font-size: 20px;
}

.seller-info span p {
  font-size: 12px;
  color: #8e8b95;
}

.seller-info span button {
  font-size: 19px;
  width: 155px;
  height: 40px;
  background: #f9fafb;
  border-radius: 8px;
  border: 1px solid #18bb9a;
  color: #18bb9a;
}
.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}
