.review-rating {
    margin-bottom: 85px;
  }

  .review-rating h4 {
    color: #2d2837;
    font-size: 18px;
    margin-bottom: 1rem;
  }

  .review-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .left-side h4 {
    display: flex;
    margin: 0;
    font-size: 39px;
    align-items: baseline;
  }

  .left-side h4 p {
    font-size: 15px;
    color: #8e8b95;
  }

  .left-side img {
    width: 18px;
    height: 18px;
  }

  .left-side p {
    color: #8e8b95;
    font-size: 14px;
  }

  .right-side span {
    display: flex;
    gap: 5px;
    align-items: baseline;
  }

  .right-side span img {
    width: 18px;
    height: 18px;
  }

  .right-side span h5 {
    color: #8e8b95;
  }

  ::ng-deep >>> .bg-success {
    background-color: #00a47f!important;
  }

  ::ng-deep >>> .progress {
    width: 155px;
  }