<div class="review-rating">
    <h4>Reviews & Ratings</h4>
    <div class="review-wrapper">
      <div class="left-side">
        <h4>4.9 <p>/ 5.0</p></h4>
        <span>
          <img src="assets/star.png" />
          <img src="assets/star.png" />
          <img src="assets/star.png" />
          <img src="assets/star.png" />
          <img src="assets/star.png" />
        </span>
        <p>2.3k+ Reviews</p>
      </div>
      <div class="right-side">
        <span><img src="assets/star.png" /><h5>5</h5><p><ngb-progressbar type="success" [value]="80"></ngb-progressbar></p><h4>1.5k</h4></span>
        <span><img src="assets/star.png" /><h5>4</h5><p><ngb-progressbar type="success" [value]="40"></ngb-progressbar></p><h4>710</h4></span>
        <span><img src="assets/star.png" /><h5>3</h5><p><ngb-progressbar type="success" [value]="20"></ngb-progressbar></p><h4>140</h4></span>
        <span><img src="assets/star.png" /><h5>2</h5><p><ngb-progressbar type="success" [value]="10"></ngb-progressbar></p><h4>10</h4></span>
        <span><img src="assets/star.png" /><h5>1</h5><p><ngb-progressbar type="success" [value]="5"></ngb-progressbar></p><h4>4</h4></span>
      </div>
    </div>
  </div>