<div class="container">
    <div class="slider-wrapper">slider</div>
    <div class="categories-wrapper">
        <span>
            <span class='bi bi-columns-gap'></span>
            <a>Category</a>
        </span>
        <span>
            <!-- <span class='bi bi-card-checklist'></span> -->
            <span class='fa fa-plane'></span>
            <a class="non-active">Flight</a>
        </span>
        <span>
            <span class="bi bi-clipboard-data"></span>
            <a class="non-active">Bill</a>
        </span>
        <span>
            <span class="bi bi-globe">
            </span>
            <a class="non-active">Data plan</a>
        </span>
        <span>
            <span class='bi bi-currency-exchange'></span>
            <a class="non-active">Top Up</a>
        </span>
    </div>
</div>
